/* Add URL after link when printing */

a:after {
	content:"[URL: " attr(href) "] ";
	text-decoration: none;
	border: none;
}


/* Add image source information after image when printing */

a[href$=jpg],
a[href$=jpeg],
a[href$=jpe],
a[href$=png],
a[href$=gif] {
	white-space: pre;
}

a[href$=jpg]:after,
a[href$=jpeg]:after,
a[href$=jpe]:after,
a[href$=png]:after,
a[href$=gif]:after {
	content:" \A [Image location: " attr(href) "] ";
	text-decoration: none;
}

.noprint {
	display: none;
}
