/* Page Styles */

* {box-sizing: content-box;}
code {
	padding: 0;
	margin: 0;
}
pre {
	padding: 0;
	margin: 0;
	white-space: pre-wrap;
}


#container {
	width: 80%;
	max-width: 800px;
	min-width: 600px;
	margin: 0 auto;
	padding: 1em;
	box-shadow: 0 0 10px #bbb;
	}

pre {
	background: #eee;
	padding: 1em;
}

